* {
  box-sizing: border-box;
}
@font-face {
  font-family: "MyriadPro";
  src: url(fonts/MyriadProRegular.eot);
  src: url(fonts/MyriadProRegular.eot) format("embedded-opentype"), url(fonts/MyriadProRegular.woff) format("woff"), url(fonts/MyriadProRegular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadPro";
  src: url(fonts/MyriadProBold.eot);
  src: url(fonts/MyriadProBold.eot) format("embedded-opentype"), url(fonts/MyriadProBold.woff) format("woff"), url(fonts/MyriadProBold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "MyriadProLightSemiExtended";
  src: url(fonts/MyriadProLightSemiExtended.eot);
  src: url(fonts/MyriadProLightSemiExtended.eot) format("embedded-opentype"), url(fonts/MyriadProLightSemiExtended.woff) format("woff"), url(fonts/MyriadProLightSemiExtended.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #3d6cb0;
  padding: 5px;
  width: 115px;
  height: 111px;
  border-radius: 50%;
  background: #3d6cb0;
  background-clip: content-box;
}
.icon__image {
  margin: auto;
}
.icon__image_profile {
  background-image: url(blocks/icon/sprite.png);
  background-position: 0px -132px;
  width: 65px;
  height: 52px;
}
.icon__image_contact {
  background-image: url(blocks/icon/sprite.png);
  background-position: 0px -70px;
  width: 63px;
  height: 62px;
}
.icon__image_skills {
  background-image: url(blocks/icon/sprite.png);
  background-position: -146px 0px;
  width: 52px;
  height: 68px;
}
.icon__image_education {
  background-image: url(blocks/icon/sprite.png);
  background-position: 0px 0px;
  width: 77px;
  height: 70px;
}
.icon__image_experience {
  background-image: url(blocks/icon/sprite.png);
  background-position: -77px 0px;
  width: 69px;
  height: 60px;
}
.icon__image_software {
  background-image: url(blocks/icon/sprite.png);
  background-position: -63px -70px;
  width: 70px;
  height: 55px;
}
.photo {
  border: 2px solid #3d6cb0;
  padding: 20px;
  width: 358px;
  height: 358px;
  border-radius: 50%;
  background: #3d6cb0;
  background-clip: content-box;
  margin: auto;
  margin-top: 70px;
}
.author {
  text-align: center;
  margin-bottom: 14%;
  margin-top: 43px;
}
.author__name {
  font-family: MyriadProLightSemiExtended;
  text-transform: uppercase;
  font-size: 80px;
}
.author__surname {
  text-transform: uppercase;
  font-size: 90px;
  font-weight: bold;
}
.author__profession {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}
.cv {
  font-family: MyriadPro;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  margin: 3% 1% 4% 3%;
}
.cv__left-column {
  flex: 1;
  margin-right: 6%;
}
.cv__right-column {
  flex: 1.5;
}
.title {
  display: flex;
  align-items: center;
}
.title__text {
  display: flex;
  align-items: center;
  height: 70px;
  color: #3d6cb0;
  font-size: 60px;
  text-transform: uppercase;
  margin: 10px 20px 0px 20px;
}
.title__line {
  flex: 1;
  background-color: #3d6cb0;
  height: 8px;
  width: 100%;
}
.section {
  margin-top: 50px;
}
.section__body {
  margin-top: 50px;
}
.skill {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}
.skill__name {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
.contact-table {
  font-size: 33px;
  border-collapse: collapse;
}
.contact-table__row {
  padding-bottom: 45px;
}
.contact-table__row:last-child {
  padding-bottom: 0;
}
.contact-table__header {
  padding-bottom: inherit;
  padding-right: 80px;
  color: #3d6cb0;
  text-transform: uppercase;
  text-align: left;
}
.contact-table__cell {
  padding-bottom: inherit;
}
.circle-progress__element {
  margin-left: 20px;
  display: inline-block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
}
.circle-progress__element_active {
  background: #3d6cb0;
}
.circle-progress__element_inactive {
  background: #e6e6e6;
}
.compound-list-item {
  display: flex;
  list-style: none;
}
.compound-list-item__marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
  margin-right: 32px;
  margin-top: 5px;
}
.compound-list-item__title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.compound-list-item__title_education {
  color: #3d6cb0;
}
.compound-list-item__date {
  font-size: 40px;
  padding-left: 20px;
}
.compound-list-item__subtitle {
  font-size: 40px;
  text-transform: uppercase;
}
.compound-list-item__body {
  margin-top: -20px;
}
.rectangle-progress {
  height: 34px;
  width: 100%;
  background: #e6e6e6;
}
.rectangle-progress__complete {
  height: 100%;
  background: #3d6cb0;
}
.rectangle-progress__complete_photoshop {
  width: 90%;
}
.rectangle-progress__complete_illustrator {
  width: 70%;
}
.rectangle-progress__complete_indesign {
  width: 56%;
}
.rectangle-progress__complete_dreamweaver {
  width: 83%;
}
.rectangle-progress__complete_after-effects {
  width: 61%;
}
.rectangle-progress__complete_htmlcss {
  width: 91%;
}
.software-list {
  display: flex;
  flex-wrap: wrap;
}
.software-list__column {
  flex: auto;
  display: flex;
  flex-direction: column;
}
.software-list__column-item {
  flex: auto;
  width: 84%;
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
}
.software-list__column-item-name {
  white-space: nowrap;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
